@model Factory.Models.Engineer
@using Factory.Models

<h2> @Html.DisplayFor(model => model.EngineerName) </h2>

<h3>Machines this person works on</h3>

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
