<h1>Welcome to the Factory Manager ADMIN page!</h1>

<p>@Html.ActionLink("Click to edit the Engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Click to edit the Machines", "Index", "Machines")</p>
<h1>Here are the list of Engineers</h1>
<h1>Here are the list of Machines</h1>
